
h2{
    background-color: red;
    text-align: center;
    margin: auto;

}

form{
    margin: auto;
    border:1px solid darkred;
    width: 500px;
    height: 220px;
    font-family: "Book Antiqua";

}
table {
    padding: 0px 0px 0px 90px;
}

